<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/insert" method="get">
        <ul>
        <%
            list.forEach(item => { %>
                <!-- <li><%= "<div>" + item.id + "</div>" %></li> -->
                <li>
                    <div>
                        <%=item.name%>
                        <button type="button" onclick="location.href='/user/<%=item.id%>'">수정하기</button>
                        <button type="button" onclick="fnDelete('<%=item.id%>')">삭제하기</button>
                    </div>
                </li>
            <%})
        %>
        </ul>
        <button>글쓰기</button>
    </form>
</body>
</html>
<script>
    function fnDelete(item){
        const form = document.createElement('form');
        form.action = `/user/${item}?_method=DELETE`;
        form.method = "POST";
        document.body.appendChild(form);
        form.submit();        
    }
</script>
