<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user" method="post">
        
        <div>
            <label>
                id : <input name="id" type='text'/>
            </label>
        </div>
        <div>
            <label>
                pwd : <input name="pwd" type='password'/>
            </label>
        </div>
        <div>
            <label>
                name : <input name="name" type='text'/>
            </label>
        </div>
        <div>
            <label>
                <input name="gender" type='radio' value="M" checked/>남
            </label>
            <label>
                <input name="gender" type='radio' value="F"/>여
            </label>
        </div>
        
        <button>저장</button>
    </form>
</body>
</html>